body{
    background-color: lightblue;
    margin:0;
    font-family: Arial, sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#333;
    padding:15px;
}

.logo img{
    border-radius:10px;
}

.navlinks a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.navlinks a:hover{
    color:yellow;
}

.container{
    text-align:center;
    padding:30px;
}

section{
    margin:20px;
    padding:20px;
    background:white;
    border-radius:10px;
}

h1{
    color:darkblue;
}

button{
    padding:10px 20px;
    margin:10px;
    border:none;
    background:darkblue;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:green;
}

footer{
    text-align:center;
    background:#333;
    color:white;
    padding:15px;
}

.dark-mode{
    background:#222;
    color:white;
}

.dark-mode section{
    background:#444;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode li{
    color:white;
}
